# Salesforce / SFDX / CCI
.cci
.sfdx
.localdevserver
/src.orig
/src

# Python
*.pyc
__pycache__

# Robot Framework results
robot/atlas-dog/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
node_modules

# JavaScript
node_modules
test_results.json

test_results.xml
