.greenColor {
    background-color: colorBackgroundInput;
    color: black;
    padding: spacingXxSmall;
    display: inline-block;
}

.redColor {
    background-color: rgb(235, 204, 204);
    color: colorTextBrandPrimary;
}

.red {
    color: red;
}

.slds-form-element__static {
    color: red !important;
}
