.greenColor {
    /*background-color: cyan;*/
    color: green !important;
}

.redColor {
    color: red !important;
}

.slds-form-element__static {
    color: red !important;
}

/*
.THIS .redColor .slds-form-element_stacked .slds-form-element__control .slds-form-element__static {
    background-color: #ff0 !important;
    color: #0f0 !important;   
}



.THIS .redColor .slds-form-element_stacked .slds-form-element__control lightning-formatted-text {
    color: #f00 !important;   
}

.THIS .redColor .slds-form-element_stacked .slds-form-element__label {
    color: #f00 !important; 
}

.redColor .slds-form-element_stacked .slds-form-element__label {
    color: #f00 !important; 
}
*/
